@import url('https://fonts.googleapis.com/css?family=Bitter:700|Montserrat:300,400,600,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

/***************************
GENERAL
****************************/

main {
	width: 100%;
}

a {
	text-decoration: none;
}

/***************************
LAYOUT
****************************/

.flexed {
	display: flex;
}

.flexed--col {
	flex-direction: column;
}

.spaced {
	justify-content: space-between;
}

.centered {
	align-items: center;
}

.center {
	text-align: center;
}

.wrapper {
	width: 90%;
	height: 100%;
	margin: 0 auto;
}


/***************************
MODIFIERS
****************************/

.is-block {
	display: inline-block;
}

.is-hidden {
	display: none;
}

.primary {
	color: #313158;
}

.primary--bg {
	background: #313158;
}

.secondary {
	color: #EE4698;
}

.secondary--bg {
	background: #EE4698;
	color: #FFF;
}

/***************************
AUTH
****************************/

.sign-in,
.sign-up {
	width: 30%;
	color: white;
	height: 100vh;
}

.sign-in__logo {
	font-size: 3em;
}

.sign-in__wrapper {
	margin-top: 8em;
}

.sign-in__heading {
	font-size: 2.3em;
	font-weight: 600;
	margin-bottom: 1.5em;
}

.sign-in__subheading {
	font-size: 1.2em;
}

.sign-in__button--yellow {
	background-color: yellow;
}

.sign-in__button {
	border: 1px solid white;
	padding: 0.8em 5em;
	font-size: 1em;
	font-family: inherit;
	color: inherit;
	background-color: transparent;
	border-radius: 5px;
	margin-top: 4em;
}

.sign-up__wrapper {
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

/***************************
*******FORMS
****************************/

.forms {
	width: 70%;
}

.forms__button {
	border-radius: 5px;
	border-style: none;
	color: white;
	font-size: 1.2em;
	padding: 0.8em;
	width: 10em;
	margin-top: 0.5em;
	align-self: center;
}

.forms__sign-up,
.forms__sign-in {
	align-items: center;
	justify-content: center;
	height: 100%;
}

.forms__input {
	border-radius: 5px;
	padding: 0.5em 1em;
	font-size: 1.3em;
	width: 20em;
	margin-bottom: 1em;
	background: rgba(196, 196, 196, 0.22);
	border: 1px solid rgba(196, 196, 196, 0.22);
}

.forms__header {
	font-size: 3em;
	margin-bottom: 1em;
}

.forms__forgot {
	align-self:center;
	margin: 1em 0; color: black;
}


/***************************
HOME
****************************/

.active {
	font-weight: 700;
	color: #EE4698;
}

.nav {
	position: fixed;
	height: 10%;
	width: 100%;
	/* background: black; */
}

.nav__side-nav {
	font-size: 2em;
	color: #444;
	height: 100%;
	margin-left: 5%;
}

.nav__wrapper {
	display: none;
}

.nav__brand {
	font-size: 1.7em;
	font-weight: 700;
	height: 100%;
}

.nav__links {
	height: 100%;
}

.nav__link {
	font-size: 1.1em;
	margin-left: 3.5em;
}

.hero__heading {
	font-family: 'Bitter', serif;
}

.hero__sub-heading {
	font-weight: 300;
	margin-top: 0.2em;
}

.hero__button {
	border: 1px solid;
	padding: 0.4em 1em;
	border-radius: 5px;
	margin-top: 1em;
}

/* @media screen and (min-width: 992px) {
	body {
		background-color: blue;
	}
} */

@media screen and (min-width: 40em) {
	body {
		background: none;
	}
	
	.hero__heading {
		font-size: 3.5em;
	}

	.hero__sub-heading {
		font-size: 1.5em;
	}

	.hero__image-wrapper {
		display: block;
		flex-basis: 50%;
		
	}

	.hero__image {
		width: 90%;
		margin-left: 10%;
	}

	.hero__wrapper {
		flex-basis: 50%;
	}

	.hero__button {
		font-size: 1.3em;
		padding: 0.5em 2em;
		margin-top: 1.3em;
	}

	.nav__side-nav {
		display: none;
	}

	.nav__wrapper {
		display: flex;
	}

	/* * {
		border: 1px solid;
	} */
}